body{
  margin: 0;
  background-color: white;
}

* {
  font-family: 'Raleway', sans-serif;
}

img {
  height: 25vh;
  max-height: 100%;
  max-width: 100%;
}

.on {
  display: block;
}

.off {
  display: none;
}

.sign-in {
  position: fixed;
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: white;
  text-align: center;
  z-index: 100;
}

.sign-body p {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 0.7em;
}

.sign-body input {
  margin-bottom: 0.5em;
}

.register p {
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  font-size: 0.7em;
}

.register input {
  margin-bottom: 0.5em;
}

button {
    background-color: #91D8D6;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    margin: 1em;
    font-weight: 800;
}

button:hover {
  background-color: #539B97;
  transition: 0.5s;
}

#header {
  width: 100vw;
  height: 15vh;
  background-color: #91D8D6;
}

.header-logo {
  flex-grow: 1;
  width: 20%;
  float: left;
}

.search-friends {
  flex-grow: 2;
  width: 20%;
  height: 15vh;
  float: left;
  text-align: center;
}

.search-div {
  width: 100%;
}

.search-bar {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.5rem;
  width: 60%;
  margin-top: 1em;
}

.search-div > .search-bar::placeholder {
  color: white;
}

b {
  color: white;
}

.login-and-menu {
  flex-grow: 2;
  width: 20%;
  height: auto;
  float: right;
}

#header .search-friends > p {
  color: white;
  right: 15px;
  top: 10px;
  font-weight: 600;
  font-size: 0.8em;
}


#header p.instruct {
  top: 30px;
  color: black;
  font-size: 1em;
}

#header input {
  position: absolute;
  right: 15px;
  top: 55px;
}

.search-result {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  text-align: center;
  left: 35%;
  width: 30%;
  top: 15%;
  background: lightgrey;
}

.search-result li {
  width: 100%;
}

ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

li{
  -webkit-padding-start: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-family: system-ui;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  width: 115px;
  color: #333;
}

li:hover{
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.show-req{
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 150px;
  right: 150px;
  width: 100px;
  z-index: 10;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  width: 100px;
  font-family: system-ui;
  font-size: 11px;
}

.show-req > p {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.show-req > p:last-child {
  border-bottom: none;
}

.show-req > p:hover {
  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
}

.hide-req {
  display: none;
}

.widget {
  background-color: #def2f4;
  margin-left: 2vw;
  height: 80vh;
  float: right;
  width: 25vw;
  padding: 2em;
}

.main {
  background-color: white;
  margin-top: 5vh;
  height: 80vh;
  float: left;
  width: 65vw;
}

.field {
  margin-left: 5vw;
  background-color: white;
  width: 60vw;
  height: 50vh;
  overflow: scroll;
  padding-top: 2em;
  padding-bottom: 2em;
}

.rec {
  padding: 1.2em;
  text-align: left;
  border-radius: 0.2em;
  background-color: #91D8D6;
  color: white;
  clear: left;
  width: 60%;
}

.send {
  padding: 1.2em;
  border-radius: 0.2em;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  clear: right;
  width: 60%;
  background-color: #def2f4;
}

#post{
  margin-left: 3em;
  margin-bottom: 3em;
  height: 2em;
  width: 60vw;
}
#post textarea{
  height: 100%;
  width: 75%;
}

#post button{
  height: 10vh;
  width: 20%;
  box-sizing: content-box;
  margin-top: -0.1em;
  float: right;
}

.textbutton {
  height: 100%;
  width: 100%;
}

#hide-emos{
  display: none;
}

#show-emos{
  display: block;
}

.admin-page {
  margin: 2vw;
}

.admin-list button {
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.2em;
}

.admin-ul li{
  width: 35vw;
}

.admin-ul button{
  margin: 0.1em;
}

#admin-users {
  float: left;
  width: 20vw;
  max-height: 60vh;
  overflow: scroll;
}

#admin-action{
  float: left;
  width: 40vw;
  max-height: 60vh;
  overflow: scroll;
}

#admin-action textarea{
  width: 35vw;
  height: 20vh;
}

#admin-subject {
  width: 20vw;
  height: 2vh;
  margin-bottom: 2vh;
}

#admin-info{
  float: right;
  width: 30vw;
  max-height: 60vh;
  overflow: scroll;
}

.active {
  background-color: #91D8D6;
}

@media (max-width: 933px) {

   #post textarea{
     height: 10vh;
     width: 100%;
   }

   #post > button{
     height: 5vh;
     width: 90%;
     box-sizing: content-box;
     margin-top: -0.1em;
     float: left;
   }
}

@media (max-width: 800px) {

   .field {
     margin-left: 5vw;
     background-color: white;
     width: 90vw;
     height: 50vh;
     overflow: scroll;
     padding-top: 2em;
     padding-bottom: 2em;
   }

   #post{
     margin-left: 3em;
     margin-bottom: 3em;
     height: 2em;
     width: 90%;
   }

   #post textarea{
     height: 10vh;
     width: 70%;
   }

   #post button{
     height: 10vh;
     width: 20%;
     box-sizing: content-box;
     margin-top: -0.1em;
     float: right;
   }

   .main {
       width: 100%;
   }
   .widget {
       display: none;
   }
}

@media (max-width: 622px) {
   #post{
     margin-bottom: 3em;
     height: 2em;
     width: 100vw;
   }
   #post textarea{
     height: 10vh;
     width: 70%;
   }

   #post button{
     height: 10vh;
     width: 30%;
     box-sizing: content-box;
     margin-top: -0.1em;
     float: right;
   }

   .main {
       width: 100%;
   }
   .widget {
       display: none;
   }
}
