body{
  margin: 0;
  background-color: white;
}

* {
  font-family: 'Raleway', sans-serif;
}

img {
  height: 25vh;
  max-height: 100%;
  max-width: 100%;
}

.on {
  display: block;
}

.off {
  display: none;
}

.sign-in {
  position: fixed;
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: white;
  text-align: center;
  z-index: 100;
}

.sign-body p {
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 0.9em;
}

.sign-body input {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  border-radius: 1em;
  border: none;
  border-bottom: 3px solid #91D8D6;
  padding: 1em;
  background: transparent;
}

.sign-body button {
    font-size: 20px;
}

#login-button {
    font-size: 20px;
    padding: 1em;
}

.register input {
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    border-radius: 1em;
    border: none;
    border-bottom: 3px solid #91D8D6;
    padding: 1em;
    background: transparent;
}

.register button {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
}

.sign-body input::placeholder {
    color: lightgrey;
    text-align: center;

}

.register p {
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  font-size: 0.7em;
}

.register input {
  margin-bottom: 0.5em;
}

button {
    background-color: #91D8D6;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    margin: 1em;
    font-weight: 800;
}

.widget > p > b {
    color: #91D8D6;
    font-size: 1.5em;
}

.requests {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}


#menu-bars {
    position: absolute;
    font-size: 2.5rem;
    top: 5rem;
    right: 6rem;
    margin-bottom: 1.5rem;
    color: white;
}

#menu-bars:hover {
    cursor: pointer;
    color: black;
}

#sign-off {
    position: absolute;
    font-size: 2.8rem;
    top: 5.3rem;
    right: 2rem;
    margin-bottom: 1.5rem;
    color: white;
}

#sign-off:hover {
    cursor: pointer;
    color: black;
}

#cross-exit {
    position: absolute;
    top: 150px;
    right: 15px;
    font-size: 3rem;
    color: white;
}

#cross-exit:hover {
    cursor: pointer;
    color: black;
}

button:hover {
  background-color: #539B97;
  transition: 0.5s;
}

#header {
  width: 100vw;
  height: 15vh;
  background-color: #91D8D6;
}

.header-logo {
  flex-grow: 1;
  width: 20%;
  height: 100%;
  float: left;
}

.search-friends {
  flex-grow: 2;
  width: 60%;
  height: 15vh;
  float: left;
  text-align: center;
}

.search-div {
  width: 100%;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
    background-color: #def2f4;
    margin-left: 2vw;
    height: 80vh;
    float: right;
    width: 25vw;
    padding: 2em;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar h1 {
    color: #91D8D6;
}


.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 10px 0;
  border: 1px solid rgba(244,244,244,0.4);
  color: #91D8D6;
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: #1c7c70;
  background-color: white;
}
#menu-toggle {
  display: none;

}

.menu-icon {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}


#menu-toggle:checked ~ .slideout-sidebar {
  right: 0px;
}

#menu-toggle:checked + .menu-icon {
  right: 210px;
}


#edited_Profile {
    background-color: #bce2e5;
    padding: 1em;
    width: 30vw;
    height: 80vh;
    position: absolute;
    top: 15vh;
    right: 0;
}
#user_foto {
  border-radius: 50%;
  border: solid 1px white;
}

.profile_font {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  font-size: 1rem;
  color: #91D8D6;
}

li.profile_font > li {
    font-size: 0.8rem;
    color: #91D8D6;
}

.editfield_font {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #91D8D6;
  font-size: 1rem;
}

.close {
    float: right;
font-size: 3em;
font-weight: bold;
color: white;
margin-right: 0.2em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.closeButton {
  display: none;
}
#input_fields {
    float: left;
    background-color: #bce2e5;
    width: auto;
    height: auto;
    z-index: 1;
    margin-left: 1em;
}
 #input_fields input  {
  position: relative;
  left: 15px;
  top:3px;
  border: none;

}


.search-bar {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.5rem;
  width: 60%;
  margin-top: 1em;
  font-family: 'Raleway', sans-serif;
}

.search-div > .search-bar::placeholder {
  color: white;
}

b {
  color: white;
}

.login-and-menu {
  flex-grow: 2;
  width: 20%;
  height: 15vh;
  float: right;
}

.login-and-menu p {
    float: right;
    padding-right: 2em;
}

#header .search-friends > p {
  color: white;
  right: 15px;
  top: 10px;
  font-weight: 600;
  font-size: 0.8em;
}


#header p.instruct {
    color: white;
  top: 30px;
  font-size: 1em;
}


.search-result {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  text-align: center;
  left: 35%;
  width: 30%;
  background: lightgrey;
}

li{
  -webkit-padding-start: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-family: system-ui;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  width: 115px;
  color: #333;
}


.search-result li {
  width: 100%;
  border-left: none;
  padding-left: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

*:focus {
    outline: none;
}

ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}



li:hover{
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.show-req{
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 150px;
  right: 150px;
  width: 100px;
  z-index: 10;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  width: 100px;
  font-family: system-ui;
  font-size: 11px;
}

.show-req > p {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.show-req > p:last-child {
  border-bottom: none;
}

.show-req > p:hover {
  background-color: rgba(238, 238, 238, 0.7);
  cursor: pointer;
}

.hide-req {
  display: none;
}

.widget {
  background-color: #def2f4;
  margin-left: 2vw;
  height: 80vh;
  float: right;
  width: 25vw;
  padding: 2em;
}

.main {
  background-color: white;
  height: 80vh;
  float: left;
  width: 65vw;
}

.field {
  margin-left: 5vw;
  background-color: white;
  width: 60vw;
  height: 50vh;
  overflow: scroll;
  padding-top: 2em;
  padding-bottom: 2em;
}

.rec {
  padding: 1.2em;
  text-align: left;
  border-radius: 0.2em;
  background-color: #91D8D6;
  color: white;
  clear: left;
  width: 60%;
}

.send {
  padding: 1.2em;
  border-radius: 0.2em;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  clear: right;
  width: 60%;
  background-color: #def2f4;
}

#post{
  margin-left: 3em;
  margin-bottom: 3em;
  height: 2em;
  width: 60vw;
}

#post textarea{
  height: 15vh;
  width: 70%;
}

#sendbutton {
  height: 12vh;
  width: 20%;
  box-sizing: content-box;
  margin-top: 0.5em;
  float: right;
}

.textbutton {
  height: 100%;
  width: 100%;
}

#hide-emos{
  display: none;
}

#show-emos{
  display: block;
}

.admin-page {
  margin: 2vw;
}

.admin-list button {
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.2em;
}

.admin-ul li{
  width: 35vw;
}

.admin-ul button{
  margin: 0.1em;
}

#admin-users {
  float: left;
  width: 20vw;
  max-height: 60vh;
  overflow: scroll;
}

#admin-action{
  float: left;
  width: 40vw;
  max-height: 60vh;
  overflow: scroll;
}

#admin-action textarea{
  width: 35vw;
  height: 20vh;
}

#admin-subject {
  width: 20vw;
  height: 2vh;
  margin-bottom: 2vh;
}

#admin-info{
  float: right;
  width: 30vw;
  max-height: 60vh;
  overflow: scroll;
}

.active {
  background-color: #91D8D6;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}

@media (max-width: 933px) {

   #post textarea{
     height: 10vh;
     width: 90%;
   }

   #sendbutton{
     height: 5vh;
     width: 80%;
     box-sizing: content-box;
     margin-left: 1em;
     margin-top: -0.1em;
     float: left;
   }
}

@media (max-width: 800px) {

   .field {
     margin-left: 5vw;
     background-color: white;
     width: 90vw;
     height: 50vh;
     overflow: scroll;
     padding-top: 2em;
     padding-bottom: 2em;
   }

   #post{
     margin-left: 1em;
     margin-bottom: 3em;
     height: 2em;
     width: 90%;
   }

   #post textarea{
     height: 10vh;
     width: 70%;
   }

   #sendbutton {
     height: 10vh;
     width: 20%;
     box-sizing: content-box;
     float: right;
   }

   .main {
       width: 100%;
   }
   .widget {
      clear: left;
      width: 90%;
      text-align: center;
   }

   .your-friends {
       text-align: center;
   }

.active {
   background-color: #91D8D6;
   font-family: 'Raleway', sans-serif;
   font-size: 0.9em;
   width: 100%;
    }

    #offline {
        width: 100%;
    }

    #edited_Profile {
        background-color: #bce2e5;
        padding: 1em;
        width: 90%;
        height: 80vh;
        position: absolute;
        top: 15vh;
        right: 0;
    }
}

@media (max-width: 622px) {
   #post{
     margin-bottom: 3em;
     margin-left: 1em;
     height: 2em;
     width: 90%;
   }
   #post textarea{
     height: 10vh;
     width: 60%;
   }

   #sendbutton {
       height: 10vh;
       width: 20%;
       box-sizing: content-box;
       float: right;
   }

   .main {
       width: 100%;
       margin-top: 2em;
   }
   .widget {
       clear: left;
       width: 90%;
       text-align: center;
   }

   #sign-off {
       font-size: 2em;
       margin-right: -0.5em;
   }
   #menu-bars {
       font-size: 2em;
       margin-right: -1em;
   }

   .active {
       background-color: #91D8D6;
       font-family: 'Raleway', sans-serif;
       font-size: 0.9em;
       width: 100%;
   }

   #offline {
       width: 100%;
   }

   .your-friends {
       text-align: center;
   }

   .slideout-sidebar {
       width: 90%;
   }

   #edited_Profile {
       background-color: #bce2e5;
       padding: 1em;
       width: 90%;
       height: 80vh;
       position: absolute;
       top: 15vh;
       right: 0;
   }


}
