body{
  margin: 0;
  background-color: grey;
}


#app {
    margin-left: 1em;
}

.all-messages {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    background-color: teal;

}

.all-messages p {
    color: white;
    font-size: 1.5em;
    padding-left: 1em;
}

.textbox {
    height: 2rem;
    font-size: 1.2rem;
}

.username-container {
    background-color: teal;
    width: 500px;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
